body {
  font-family: "LXGW WenKai Mono TC", Times, serif;
  margin: 0;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  /* background color */
  /*background-color: red;/
/* background image */
  /*background-image: url(./background_cd.png);*/
  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  /*background:url("./sport_shoes.png")no-repeat center/cover;*/
  /* background color linear gradiant */
  background: linear-gradient(
    to bottom right,
    coral,
    30%,
    blue,
    50%,
    lightgreen
  );
}
.hero p{
    font-size:10px;
    color: #fff;
}
/*regular link*/
.hero a{
    text-decoration: none;
    color:#333;
}
/*hover*/
.hero a:hover{
    color:coral;
}
/*active*/
.hero a:active{
    color:blue;
}

/*focus*/
.hero a:focus{
    outline: 2px solid coral;
}
/*visited hover*/
.hero a:visited {
    color: red;
}
/*visited hover*/



