* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #f1f1f1;
}

.container {
  border: 1px solid;
  width: 400px;
  margin: 150px auto;
}

.card {
  background: #373f4d;
  color: #fff;
  border-radius: 5px;
  padding: 60px 40px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card h1 {
  font-size: 25px;
  font-weight: 100;
}

.card p {
  margin: 15px 0;
  font-weight: 100;
}

.card .form-group {
  /*  border:1px solid red;*/
  margin: 10px 0px 15px;

  /*    padding: 30px 0px;*/
}

.card input {
  padding: 14px 0px;
  width: 300px;
}

.card input[type="text"] {
  font-size: 18px;
}

.card button {
  width: 300px;
  padding: 14px 0px;
  background: linear-gradient(to right, rgb(238, 113, 11), rgb(238, 155, 11));
  color: #fff;
  font-size: 18px;
}

.card button:hover {
  background: linear-gradient(to right, rgb(238, 155, 11), rgb(238, 113, 11));

  cursor: pointer;
}

/*    <div class="box box-1">
        <p>Need to hired a free-lancer?</p>
        <p>sign ud and what you need and receive fa</p>
        <div class="box box-2"><p>what do you need done</p></div>
        <div class="box box-3"><p>post a project</p></div>


    </div>*/

/*
.box-1{
width:300px;
height:300px;
background-color: #000;
justify-content:center;
align-items: center;
}

.box-2{
background-color:white;
    width:200px;
    height:20px;
    justify-content: center;
    top:40px;
}

.box-3{
background-color: orange;
    width:200px;
    height:20px;
    justify-content: center;
    top:40px;
}
*/
