*{
padding:0;
margin:0;
box-sizing: border-box;

}

.flex-item{
height:200px;
width:200px;
background: coral;
border:1px solid black;
}

.flex-container{
    background: lightblue;
display:flex;
flex-direction: row;
/*gap: 10px;*/
row-gap: 10px;
column-gap: 20px;
flex-wrap:nowrap;
/*flex-wrap:wrap;*/
width: 500px;
height:800px;

}