*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    body {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    main {
        width:80%;
        max-width:1100px;
        margin:15% auto;
        padding: 20px;
    }

    img{
max-width:100%;
    }
