* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

@media screen and (max-width:1200px) {
    .widescreen {
        background: coral;
    }
}
    @media (max-width:992px) {
        .normal {
            background: lightblue
        }
    }
@media (max-width:768px) {
    .tablet {
        background: lightgreen;
    }
}

@media (max-width: 576px) {
    .phone {
        background: lightcoral;
    }
}

@media (orientation: landscape) {
    .landscape {
        background: yellow;
    }
}

@media (max-height:500px) {
    .height{
        background: lightseagreen;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    body {
        background: #333;
    }
}
