.container{
    background-color:yellow;
}

.box{
width:200px;
height:200px;
border:1px solid black;
background-color:#add8e69b;
margin:10px;
display:flex;
justify-content:center;
align-items:center;
box-shadow: 10px 10px 10px 2px #4f5c36be;
/*x-offset y-offset plur spread color*/
}

.box-1{
    position: static;
    left:30px;/*this will not have any effect*/

}

.box-2{
    position: relative;
    left:30px;/*this will move the box 30px
     to the right from its normal position*/

    top:20px;
}

.box-3{
    position:fixed; /*out of current dimensions*/
    /*position based on browser viewpoint*/
    
    top:0;
    right:0;
    z-index:-1;
}

.box-4{
    position:sticky;
    top:10px;
    z-index:1;
}

.box-5{
    position:relative;/*cannot be static*/
    width:600px;
    height:600px;
    background: coral;
    z-index:1;
}

/*absolute based on parent 
and parent needed to be relative*/
.box-6{
    position:absolute;
    top:20px;
    /*bottom:20px;*/
    right:20px;
    z-index:-4;
}
