* {
    margin: 0;
    padding: 0;
      box-sizing: border-box;  
}

html, body {
    font-family: Franklin Gothic, 'sans-serif';
    font-size: 16px;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background:coral;
    border: 1px solid black;
    height:100vh;
    width:100vw;
}

h1 {
    /*font-size: 2rem;*/
    font-size: 7vw;
    padding: 0.3rem 0;
}

p {
    font-size: 1rem;
    margin: 1rem 0;
}

ul {
    font-size: 1.5em;
}
