.box {
    background-color: darkblue;
    color:white;
/*    padding:20px;*/
    padding-top:20px;
    padding-right:50px;
    padding-bottom:70px;
    padding-left:100px;
    padding: 2;
    /*padding*/
    border: 3px solid green;
    /*border-color:red;*/
    border-top-color: red;
    border-bottom-color:yellow;
border-top-style:dashed;
border-left-style:dotted;
border-radius:150px;
border-top-left-radius:300px;
border-top-right-radius:150px;
/*    border-style:double;*/
    border-top-width:15px;
    margin-top:30px;
    margin-bottom:30px;
    margin-right:100px;
    margin-left:50px;
   /* display:inline-block */
}

.box-1 {
    width:200px;
    height:100px;
   /* overflow:hidden;*/
}

.box-2 {
    width:30%;
    display:inline-block;
}

.box-3 {
    width:45;
    display:inline-block;
}

.box-2 p {
    width:50%;
}


