body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

*{
    padding:0px;
    margin:0px;
  }

li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
font-size: 20px;
line-height:1.5;
margin-left:10px;
/*border: 1px solid red;*/
}

h1{
    background-color: purple;
    color:white;
    text-align:center;
    text-transform:capitalize;
    font-size:36px;
    padding:5px;
}

ul{
    list-style-type: none;
margin:0px;
/*border:1px solid red;*/
}

h3{
    color: purple;
    margin-top:30px;
margin-bottom:20px;

}

p{
    line-height:2;
}