* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --primary-color: rgb(171, 160, 145);
    --secondary-color:lightcoral;
    --tertiary-color: lightgreen;
    --shadow-opacity:0.4;
    --container-width: 800px;
    --container-width-large: 1000px;
}

.container {
    display: flex;
    max-width: var(--container-width);
    margin:30px auto;
    gap: 20px;
}

.container-lg {
    max-width: var(container-width-large);
}

.box {
  flex:1;
  padding:20px 40px;
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(0,0,0, var(--shadow-opacity));
}

.box-1 {
    background: var(--primary-color);
}

.box-2 {
    background: var(--secondary-color);
}

.box-3 {
    background: var(--tertiary-color);
}

header h1{
    background: var(--primary-color);
}

