* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  background-color: #22264a;
}

main {
  background-color: white;
  max-width: 1100px;
  margin: 0 auto 20px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  padding: 20px;
  border: 1px solid red;
  text-align: center;
  flex: 1 1 300px;
}

header {
  font-size: 25px;
  background-color: white;
}

.card.card-pro header {
  background: linear-gradient(to right, lightblue, purple);
}

.card.card-enterprise header {
  background: linear-gradient(to right, pink, orange);
}

.card.card-pro header,
.card.card-enterprise header {
  color: white;
}
